
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
   <div class=" flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="w-full flex justify-center items-center">
       <h1 class="text-2xl font-semibold">Here is your post in detail</h1>
    </div>
    <Form class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mt-2 mb-4"  action="/posts" method="post">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
         Title
        </label>
       <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"  name="username" type="text" placeholder="Enter Title">
        <%= post.username %>
       </div>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Content
        </label>
          <div class="shadow appearance-none  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <%= post.content %> 
        </div>
        <div></div>
   
      </div>
    </form>
  </div>
</body>
</html>