@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: blue;
}
h3 {
  color: rgb(8, 111, 236);
}
h4 {
  color: rgb(59, 71, 111);
}
.allpost {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.post {
  background-color: white;
  padding: 5px;
  width: 350px;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
